img {
    width: 30%;
    float: left;
    margin: 1.66%;
    filter: grayscale(100%);
    transition: all 1s;
}

p {
    font-family: Raleway;
    margin-left: 1.66%;
    font-size: 23px;
    font-weight: 800;
    text-transform: uppercase;
    border-bottom: 3px solid #f1f1f1;
    width: 30%;
    padding-bottom: 20px;
    text-align: center;
    margin: auto;
}

img:hover {
    filter: grayscale(0%);
    transform: scale(1.02);
    transition: all 1s
}